Source: faugus-launcher
Section: games
Priority: optional
Maintainer: Ackerman <ackerman@nexus.local>
Build-Depends: debhelper-compat (= 13),
 dh-python,
 python3-all,
 meson,
 ninja-build,
 libgtk-3-bin
Standards-Version: 4.6.2
Rules-Requires-Root: no
Homepage: https://github.com/Faugus/faugus-launcher

Package: faugus-launcher
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends},
 python3-gi,
 python3-requests,
 python3-pil,
 python3-filelock,
 python3-vdf,
 python3-psutil,
 python3-pygame,
 icoextract,
 imagemagick,
 gir1.2-ayatanaappindicator3-0.1,
 libcanberra-gtk3-module,
 umu-launcher,
 vulkan-tools
Recommends: winetricks, mangohud, gamemode
Suggests: protonplus
Description: Simple and lightweight app for running Windows games using UMU-Launcher
 Faugus Launcher is a lightweight, user-friendly frontend for UMU-Launcher
 that allows you to easily run Windows games on Linux.
 .
 Features include:
  * Native game installation and management
  * Integrated GE-Proton manager
  * Gamepad support (requires python3-pygame)
  * Winetricks and Winecfg integration
 .
 This package is compiled from the latest upstream source for Debian Unstable.
