Source: zed-editor
Section: editors
Priority: optional
Maintainer: Ackerman <ackerman@nexus.local>
Build-Depends:
 debhelper-compat (= 13),
 cargo,
 rustc,
 clang,
 cmake,
 gettext,
 mold,
 pkg-config,
 protobuf-compiler,
 libasound2-dev,
 libfontconfig1-dev,
 libglib2.0-dev,
 libx11-dev,
 libxcb1-dev,
 libxkbcommon-dev,
 libzstd-dev,
 libssl-dev,
 libsqlite3-dev,
 libvulkan-dev,
 libwayland-dev,
 git
Standards-Version: 4.7.0
Rules-Requires-Root: no
Homepage: https://zed.dev

Package: zed-editor
Architecture: amd64
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 git
Recommends:
 mesa-vulkan-drivers,
 libvulkan1
Description: High-performance, multiplayer code editor
 Zed is a minimal code editor crafted for speed and collaboration.
 Built natively for Devuan with x86-64-v3 optimizations.
